*.class
*.iml
*.jar
*.pdf
*.csv
*.xlsx
*.txt
*._edn
/resources/*.edn
/mount/.idea
/integrant/.idea
/component/.idea
/slides-mount/.idea
/mount/target
/integrant/target
/component/target
/slides-mount/target
/slides-mount/resources/public/js/compiled
archive
*.txt
.lein-repl-history
.nrepl-port
/target
/resources/public
/resources/gen*
lib
.DS_Store
bsr_cube_2.clj
set_env.sh
