{:db-creds          {:user     "Chris"
                     :password "password"}
 :warehouse-channel {:db-creds #ig/ref :db-creds
                     :warehouse {:capacity    80
                                 :stock-items [:shirt :tie :socks :shoes :braces :bowler-hat :umbrella :brief-case]
                                 :take-size   5}}}
